# UCF for a Nexys2 500K board
NET "osc_clk" LOC = "J1" | IOSTANDARD = LVCMOS33;

# serial port receive & transmit
NET "RxD" LOC = "D1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "TxD" LOC = "B1" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;

# TTL level serial port: ja3 = rxd, ja2 = txd
NET "extminer_txd<0>" LOC = "B21" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;
NET "extminer_rxd<0>" LOC = "B22" | IOSTANDARD = LVCMOS33 | PULLUP;

# Button 0
//NET "reset" LOC = "A4";

NET "led[0]" LOC = "A18" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;
NET "led[1]" LOC = "B18" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;
NET "led[2]" LOC = "A17" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;
NET "led[3]" LOC = "A16" | IOSTANDARD = LVCMOS33 | SLEW=QUIETIO;

NET "dip[0]" LOC = "A4" | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "dip[1]" LOC = "D6" | IOSTANDARD = LVCMOS33;
NET "dip[2]" LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "dip[3]" LOC = "C8" | IOSTANDARD = LVCMOS33;



#Created by Constraints Editor (xc6slx150-fgg484-3) - 2011/12/24
#NET "osc_clk" TNM_NET = osc_clk;
#TIMESPEC TS_osc_clk = PERIOD "osc_clk" 100 MHz HIGH 50%;

NET "hash_clk" TNM_NET = hash_clk;
NET "dv_clk" TNM_NET = dv_clk;
TIMESPEC TS_dv_clk = PERIOD "dv_clk" 20 ns HIGH 50 %;
TIMESPEC TS_hash_clk = PERIOD "hash_clk" 4.89 ns HIGH 50 %;



NET "hash_clk" TNM_NET =  FFS "GRP_A";
NET "dv_clk" TNM_NET =  FFS "GRP_B";


TIMESPEC TS_Example1 = FROM "GRP_A" TO "GRP_B" TIG ;
#
TIMESPEC TS_Example2 = FROM "GRP_B" TO "GRP_A" TIG ;

NET "dip[*]" TIG;
NET "M/midstate_d1[*]" TIG;
NET "M/data2_d1[*]" TIG;
NET "M/got_ticket_d1" TIG;

NET "dcm23/locked_int" TIG;
NET "dcm23/dcm_reset" TIG;

CONFIG VCCAUX=3.3;